In [1]:
from sklearn.base import TransformerMixin
from sklearn.preprocessing import Imputer
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn
import matplotlib
import time
import json

%matplotlib inline

In [2]:
class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0] if X[c].dtype == np.dtype('O') else X[c].mean() for c in X], index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [3]:
df_courses = pd.read_json('/Users/vml/estagiario_pd/datasets/courses.json', orient='records')
df_sessions = pd.read_json('/Users/vml/estagiario_pd/datasets/sessions.json', orient='records')
df_sfs = pd.read_json('/Users/vml/estagiario_pd/datasets/student_follow_subject.json', orient='records')
df_students = pd.read_json('/Users/vml/estagiario_pd/datasets/students.json', orient='records')
df_subjects = pd.read_json('/Users/vml/estagiario_pd/datasets/subjects.json', orient='records')
df_subscriptions = pd.read_json('/Users/vml/estagiario_pd/datasets/subscriptions.json', orient='records')
df_universities = pd.read_json('/Users/vml/estagiario_pd/datasets/universities.json', orient='records')

In [4]:
df_students = df_students[['Id', 'CourseId', 'UniversityId', 'State', 'City', 'RegisteredDate', 'StudentClient', 'SignupSource']]
df_sfs = df_sfs[['StudentId', 'SubjectId', 'FollowDate']]
df_subscriptions = df_subscriptions[['StudentId', 'PlanType', 'PaymentDate']]
df_sessions = df_sessions[['StudentId', 'SessionStartTime', 'StudentClient']]

In [5]:
def create_id_to_name():
    for name in ("subjects","courses","universities"):
        LOC = f"""
global change_id_to_name_{name}
change_id_to_name_{name} = df_{name}.set_index('Id').to_dict()['Name']
"""
        exec(LOC)

def replace_all_id_to_name():
    for name in ("subjects","courses","universities"):
        if name == "subjects":
            df_sfs.SubjectId.replace(change_id_to_name_subjects, inplace = True)
        elif name == "courses":
            df_students.CourseId.replace(change_id_to_name_courses, inplace = True)
        elif name == "universities":
            df_students.UniversityId.replace(change_id_to_name_universities,inplace = True)

def time_tuple_conversion(df):
    # para análise de séries temporais, pode ser que ajude, não sei o padrão de uso
    for date in ("RegisteredDate", "PaymentDate", "FollowDate", "SessionStartTime"):
        try:
            if date in df.columns:
                df[date] = df[date].apply(lambda x: x[:19]).apply(time.strptime, args=["%Y-%m-%d %H:%M:%S"]).apply(lambda x: x[:6])
        except:
            print(f"Provavelmente já foi convertida a coluna {date}")
            pass
            
            
create_id_to_name()
replace_all_id_to_name()

In [6]:
# pra evidenciar a necessidade da imputacao de dados

df_students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 8 columns):
Id                60000 non-null object
CourseId          60000 non-null object
UniversityId      60000 non-null object
State             24607 non-null object
City              19753 non-null object
RegisteredDate    60000 non-null object
StudentClient     51541 non-null object
SignupSource      60000 non-null object
dtypes: object(8)
memory usage: 3.7+ MB

In [ ]:
# explicar aqui como usei o simple imputer alterado pra fazer imputacao de dados, e mostrar como é problemático em relação ao viés essa solução, que podem ter soluções
# mais eficientes como fazendo um label enconding pra numéricos aplicar GLRM e reverter, pq GLRM consegue captar os padrões e preencher na tabela
# explicar a minha solução pra manter a consistencia dos dados, pq tava dando Rio de Janeiro de cidade e Minas Gerais de estado em umas imputacoes 

top200_universidades = tuple(df_students.UniversityId.value_counts().head(200).index.values)

dados_pra_imputar = df_students[["UniversityId","State","City"]]
df_teste = dados_pra_imputar

def imputando_dados_faltantes(df_test, universidades):
    
    na_na = df_test[(df_test['State'].isna()) & (df_test['City'].isna())]
    n_na_na = df_test[(df_test['State'].notnull()) & (df_test['City'].isna())]
    na_n_na = df_test[(df_test['State'].isna()) & (df_test['City'].notnull())]
    filled = df_test[(df_test['State'].notnull()) & (df_test['City'].notnull())]
    
    f_n_na_na = pd.concat([filled,n_na_na]).drop_duplicates().reset_index(drop=True)
    f_na_n_na = pd.concat([filled,na_n_na]).drop_duplicates().reset_index(drop=True)
    f_na_na = pd.concat([filled,na_na]).drop_duplicates().reset_index(drop=True)
    
    estados = list(df_test.State.value_counts().index)
    cidades = list(df_test.City.value_counts().index)
    
    vish = [0,0,0]
    
    for univ in universidades:
        for estado in estados:
                try:
                    df_test = df_test.combine_first(DataFrameImputer().fit_transform(f_n_na_na[(f_n_na_na["UniversityId"]==univ) & (f_n_na_na["State"]==estado)]))

                except:
                    vish[0] += 1
                    pass
        for cidade in cidades:
                try:
                    na_n_na = df_test[(df_test['State'].isna()) & (df_test['City'].notnull())]
                    filled = df_test[(df_test['State'].notnull()) & (df_test['City'].notnull())]
                    f_na_n_na = pd.concat([filled,na_n_na]).drop_duplicates().reset_index(drop=True)
                    
                    df_test = df_test.combine_first(DataFrameImputer().fit_transform(f_na_n_na[(f_na_n_na["UniversityId"]==univ) & (f_na_n_na["City"]==cidade)]))

                except:
                    vish[1] += 1
                    pass
        try:    
            na_na = df_test[(df_test['State'].isna()) & (df_test['City'].isna())]
            filled = df_test[(df_test['State'].notnull()) & (df_test['City'].notnull())]
            f_na_na = pd.concat([filled,na_na]).drop_duplicates().reset_index(drop=True)
            
            df_test = df_test.combine_first(DataFrameImputer().fit_transform(f_na_na[f_na_na["UniversityId"]==univ]))

        except:
            vish[2] += 1
            pass
    
    print(vish)
    
    return df_test     
        
imputando_dados_faltantes(df_teste, top200_universidades)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24627 non-null object
City            19785 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24661 non-null object
City            19834 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24702 non-null object
City            19887 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24720 non-null object
City            19910 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24730 non-null object
City            19924 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24743 non-null object
City            19937 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24748 non-null object
City            19944 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24758 non-null object
City            19961 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24770 non-null object
City            19975 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24781 non-null object
City            19989 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24789 non-null object
City            20001 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24795 non-null object
City            20007 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24800 non-null object
City            20013 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24801 non-null object
City            20018 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24805 non-null object
City            20025 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24806 non-null object
City            20026 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24810 non-null object
City            20031 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24814 non-null object
City            20036 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24816 non-null object
City            20038 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24824 non-null object
City            20049 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24828 non-null object
City            20054 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24828 non-null object
City            20055 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24828 non-null object
City            20056 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24829 non-null object
City            20057 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20058 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20059 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20060 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20061 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24830 non-null object
City            20061 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20062 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20062 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20062 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20063 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20064 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20064 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20065 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24831 non-null object
City            20065 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24832 non-null object
City            20066 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24832 non-null object
City            20066 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24832 non-null object
City            20066 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24832 non-null object
City            20066 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24832 non-null object
City            20066 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24833 non-null object
City            20067 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24833 non-null object
City            20067 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24833 non-null object
City            20067 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24833 non-null object
City            20067 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24834 non-null object
City            20068 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24834 non-null object
City            20069 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24834 non-null object
City            20069 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24834 non-null object
City            20069 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24835 non-null object
City            20070 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24835 non-null object
City            20070 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24835 non-null object
City            20070 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24835 non-null object
City            20071 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24835 non-null object
City            20071 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24835 non-null object
City            20071 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24836 non-null object
City            20072 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24836 non-null object
City            20073 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24836 non-null object
City            20073 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 3 columns):
UniversityId    60000 non-null object
State           24836 non-null object
City            20073 non-null object
dtypes: object(3)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999

In [9]:
# pode ser conveniente montar um classificador de palavras aleatorias em portugues,
# pra avaliar ddaddos no BD que são irrelevantes ou desconsiderar, ou contar quantas pessoas usam essas palavras
# avaliar se sao mesmo aleatoria

In [10]:
# descrever no jupyter todos esses databases montados, o por que de cada um e por que separados, o por que ordenei as colunas de cada forma, como pode ajudar a visualizar os dados;
# também ver quais colunas tirar no final da análise

students_subjects = df_sfs.rename(columns = {"StudentId":"Id"}).merge(df_students, on= ["Id"]).rename(
    columns = {"Id":"StudentId", "SubjectId":"SubjectName", "CourseId": "CourseName",
               "UniversityId":"UniversityName" })[
['StudentId', 'CourseName', 'UniversityName', 'RegisteredDate', 'State', 'City', 'SubjectName', 'FollowDate', 'StudentClient', 'SignupSource']];

students_subjects_subscriptions = df_sfs.rename(columns = {"StudentId":"Id"}).merge(df_students, on= ["Id"]).rename(
    columns = {"Id":"StudentId", "SubjectId":"SubjectName", "CourseId": "CourseName",
               "UniversityId":"UniversityName" })[
['StudentId', 'CourseName', 'UniversityName', 'RegisteredDate', 'State', 'City', 'SubjectName', 'FollowDate', 'StudentClient', 'SignupSource']].merge(df_subscriptions, on = ["StudentId"]);

students_sessions = df_sessions.rename(columns = {"StudentId":"Id"}).merge(df_students, on = ["Id"]).rename(
    columns = {"Id":"StudentId","CourseId":"CourseName","UniversityId":"UniversityName"})[['StudentId','CourseName','UniversityName','SessionStartTime','StudentClient_x','StudentClient_y','State','City','RegisteredDate','SignupSource']];

sessions_subscriptions = df_sessions.merge(df_subscriptions, on= ["StudentId"])[['StudentId','SessionStartTime','StudentClient','PaymentDate', 'PlanType']];

students_subscriptions = df_subscriptions.rename(columns = {"StudentId":"Id"}).merge(df_students, on= ["Id"]).rename(
    columns = {"Id":"StudentId", "CourseId": "CourseName",
               "UniversityId":"UniversityName" })[['StudentId', 'UniversityName', 'CourseName', 'PlanType', 'PaymentDate', 'State', 'City', 'RegisteredDate', 'SignupSource', 'StudentClient']];

In [11]:
# tá demorando bem eim... é provavel que eu tenha que comprimir tudo num só dataset, mas vou deixar assim por enquanto
# que facilita a minha vida

for database in (students_subjects, students_subjects_subscriptions, students_sessions, sessions_subscriptions, students_subscriptions):
    time_tuple_conversion(database)

In [6]:
df_students.SignupSource.value_counts() # da pra fazer um histograma aqui

Facebook    30346
Google      19312
Email       10342
Name: SignupSource, dtype: int64

In [7]:
df_students.StudentClient.value_counts().head(7)

Website                     38415
Webapp                       3214
Android | 6.0.1 | sdk 23     2137
Android | 7.0 | sdk 24       1059
Android | 6.0 | sdk 23       1045
Android | 5.1.1 | sdk 22      646
Android | 4.4.4 | sdk 19      434
Name: StudentClient, dtype: int64

In [8]:
df_students.UniversityId.value_counts().head(5)

ESTÁCIO        9030
UNIP           4426
UNOPAR         1857
UNINTER        1856
ESTÁCIO EAD    1478
Name: UniversityId, dtype: int64

In [9]:
df_students.CourseId.value_counts().head(5)

Direito                               9916
Administração                         4168
Engenharia Civil                      3562
Contabilidade / Ciências Contábeis    2714
Pedagogia                             2566
Name: CourseId, dtype: int64

In [10]:
df_subscriptions.head(10)

,StudentId,PlanType,PaymentDate
0,29037b0a52c5b576d32ac5842fd5b7e5991c5bef93150f...,Mensal,2017-11-14 19:52:36.756325
1,b2bace77d15c3dfaf57bf9916f0e9924d12f89bdc0624c...,Mensal,2017-11-08 11:52:09.830538
2,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Mensal,2017-11-05 21:27:47.793878
3,55ccbe518d2edbbd527eddca1431c7f7f3a4676bdbee38...,Mensal,2017-11-15 14:36:42.348867
4,b1b0f63fe3e4820cb082531af7c8911cd380e5ec8fe822...,Mensal,2017-11-12 22:19:54.575387
5,ed46832f6b716fb2e2f6f11b43965f2e0a3f2f8f8994ce...,Mensal,2017-11-22 01:03:09.059587
6,69b7bee32821cf76b9ffd5deffca1a01c95499cea24a45...,Mensal,2017-11-24 19:03:49.902349
7,6553923125fe6364e16aacf5656426809bb134b005f182...,Mensal,2017-11-11 21:01:59.149344
8,3903a334d1af8ce838bc2b7f497f11c40437573c1ad30b...,Mensal,2017-11-12 16:41:19.995949
9,4487f81a4ea9b3c3cf58aa31ecc21c30d6fb186993af61...,Mensal,2017-11-21 11:52:55.082745

In [11]:
list_of_datetimes_register = list(df_students.RegisteredDate.values);

In [12]:
print(df_students.City.value_counts().head(10),"\n")
print(df_students.State.value_counts().head(10))

Rio de Janeiro    2415
São Paulo         1089
Salvador           667
Belo Horizonte     552
Fortaleza          488
Curitiba           433
Recife             431
Goiânia            396
Brasília           287
São Luís           280
Name: City, dtype: int64

Rio de Janeiro       5168
São Paulo            3870
Minas Gerais         2417
Paraná               1438
Bahia                1354
Ceará                1236
Rio Grande do Sul    1192
Pernambuco            954
Santa Catarina        876
Goiás                 815
Name: State, dtype: int64

In [13]:
for i in list_of_datetimes_register:
    list_of_datetimes_register[list_of_datetimes_register.index(i)] = i[:19]

In [ ]:
dates = matplotlib.dates.date2num(list_of_datetimes_register);
matplotlib.pyplot.plot_date(dates, values);

In [14]:
df_sfs.SubjectId.value_counts().head(5)

Bioquímica                4223
Cálculo I                 4053
Anatomia Humana           3950
Direito Constitucional    3926
Matemática Financeira     3405
Name: SubjectId, dtype: int64

In [413]:
df_students.UniversityId.value_counts()

ESTÁCIO                 9030
UNIP                    4426
UNOPAR                  1857
UNINTER                 1856
ESTÁCIO EAD             1478
Anhanguera               674
UNIDERP - ANHANGUERA     622
PITÁGORAS                575
USP-SP                   550
UFRJ                     526
UNINOVE                  503
UNB                      477
UNIVERSO                 430
UFMG                     406
PUC-MINAS                399
UFF                      368
UFPE                     362
UNESP                    338
UFBA                     307
ANHANGUERA               301
UVA                      298
UNIASSELVI               298
UFC                      294
UTFPR                    292
UFPR                     284
UFSC                     277
ULBRA                    274
UFRGS                    270
UFPI                     250
FMU                      249
                        ...
PORTAL                     1
IST                        1
FADFESPSP                  1
GRANTIETE                  1
SEI/FAI                    1
FNB                        1
SESPA                      1
FAPPES                     1
IETEC                      1
FMCG                       1
FAVED                      1
FAFOPST                    1
FETAC                      1
ESUP                       1
INEC                       1
FFSD                       1
FISE                       1
FANEB                      1
FJF                        1
FASVIPA                    1
FACEDUTS                   1
IEDA                       1
FBNCTSB                    1
FACILUZ                    1
HORUS                      1
FABES                      1
FACITE                     1
FACESA                     1
FACEBG                     1
FCNSV                      1
Name: UniversityId, Length: 1649, dtype: int64

In [13]:
students_subjects_subscriptions

,StudentId,CourseName,UniversityName,RegisteredDate,State,City,SubjectName,FollowDate,StudentClient,SignupSource,PlanType,PaymentDate
0,29037b0a52c5b576d32ac5842fd5b7e5991c5bef93150f...,Administração,ESTÁCIO EAD,"(2012, 10, 30, 17, 2, 8)",Minas Gerais,Rio de Janeiro,Administração de Recursos Humanos,"(2017, 11, 12, 11, 33, 42)",NaN,Email,Mensal,"(2017, 11, 14, 19, 52, 36)"
1,29037b0a52c5b576d32ac5842fd5b7e5991c5bef93150f...,Administração,ESTÁCIO EAD,"(2012, 10, 30, 17, 2, 8)",Minas Gerais,Rio de Janeiro,Gestão da Cadeia de Suprimentos,"(2017, 11, 12, 11, 33, 42)",NaN,Email,Mensal,"(2017, 11, 14, 19, 52, 36)"
2,29037b0a52c5b576d32ac5842fd5b7e5991c5bef93150f...,Administração,ESTÁCIO EAD,"(2012, 10, 30, 17, 2, 8)",Minas Gerais,Rio de Janeiro,Gestão Financeira de Pequenas e Médias Empresas,"(2017, 11, 12, 11, 33, 42)",NaN,Email,Mensal,"(2017, 11, 14, 19, 52, 36)"
3,29037b0a52c5b576d32ac5842fd5b7e5991c5bef93150f...,Administração,ESTÁCIO EAD,"(2012, 10, 30, 17, 2, 8)",Minas Gerais,Rio de Janeiro,Constituição e Legalização de Pequenas e Média...,"(2017, 11, 12, 11, 33, 42)",NaN,Email,Mensal,"(2017, 11, 14, 19, 52, 36)"
4,29037b0a52c5b576d32ac5842fd5b7e5991c5bef93150f...,Administração,ESTÁCIO EAD,"(2012, 10, 30, 17, 2, 8)",Minas Gerais,Rio de Janeiro,Administração de Novos Negócios Av1 A Av5,"(2017, 11, 12, 11, 33, 42)",NaN,Email,Mensal,"(2017, 11, 14, 19, 52, 36)"
5,b2bace77d15c3dfaf57bf9916f0e9924d12f89bdc0624c...,Engenharia Elétrica,CEFET/MG,"(2012, 12, 3, 19, 54, 48)",Minas Gerais,Belo Horizonte,Instalações Elétricas e Industriais,"(2016, 10, 9, 3, 38, 37)",NaN,Facebook,Mensal,"(2017, 11, 8, 11, 52, 9)"
6,b2bace77d15c3dfaf57bf9916f0e9924d12f89bdc0624c...,Engenharia Elétrica,CEFET/MG,"(2012, 12, 3, 19, 54, 48)",Minas Gerais,Belo Horizonte,Instalações Elétricas,"(2016, 10, 9, 3, 38, 37)",NaN,Facebook,Mensal,"(2017, 11, 8, 11, 52, 9)"
7,b2bace77d15c3dfaf57bf9916f0e9924d12f89bdc0624c...,Engenharia Elétrica,CEFET/MG,"(2012, 12, 3, 19, 54, 48)",Minas Gerais,Belo Horizonte,Circuitos Elétricos II,"(2016, 10, 9, 3, 38, 36)",NaN,Facebook,Mensal,"(2017, 11, 8, 11, 52, 9)"
8,b2bace77d15c3dfaf57bf9916f0e9924d12f89bdc0624c...,Engenharia Elétrica,CEFET/MG,"(2012, 12, 3, 19, 54, 48)",Minas Gerais,Belo Horizonte,Máquinas Elétricas,"(2016, 10, 9, 3, 38, 36)",NaN,Facebook,Mensal,"(2017, 11, 8, 11, 52, 9)"
9,b2bace77d15c3dfaf57bf9916f0e9924d12f89bdc0624c...,Engenharia Elétrica,CEFET/MG,"(2012, 12, 3, 19, 54, 48)",Minas Gerais,Belo Horizonte,Conversão Eletromecânica de Energia 1,"(2016, 10, 9, 3, 38, 37)",NaN,Facebook,Mensal,"(2017, 11, 8, 11, 52, 9)"
10,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Direito,ESTÁCIO,"(2013, 4, 3, 12, 37, 45)",Espírito Santo,Serra,Ciência Política,"(2017, 11, 2, 18, 52, 26)",NaN,Email,Mensal,"(2017, 11, 5, 21, 27, 47)"
11,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Direito,ESTÁCIO,"(2013, 4, 3, 12, 37, 45)",Espírito Santo,Serra,Direito do Trabalho I,"(2016, 5, 17, 20, 26, 9)",NaN,Email,Mensal,"(2017, 11, 5, 21, 27, 47)"
12,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Direito,ESTÁCIO,"(2013, 4, 3, 12, 37, 45)",Espírito Santo,Serra,Direito Administrativo I,"(2016, 5, 17, 20, 26, 9)",NaN,Email,Mensal,"(2017, 11, 5, 21, 27, 47)"
13,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Direito,ESTÁCIO,"(2013, 4, 3, 12, 37, 45)",Espírito Santo,Serra,Direito Constitucional,"(2016, 5, 17, 20, 26, 9)",NaN,Email,Mensal,"(2017, 11, 5, 21, 27, 47)"
14,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Direito,ESTÁCIO,"(2013, 4, 3, 12, 37, 45)",Espírito Santo,Serra,Direito Processual Civil I,"(2016, 5, 17, 20, 26, 9)",NaN,Email,Mensal,"(2017, 11, 5, 21, 27, 47)"
15,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Direito,ESTÁCIO,"(2013, 4, 3, 12, 37, 45)",Espírito Santo,Serra,Direito Constitucional I,"(2016, 5, 17, 20, 26, 9)",NaN,Email,Mensal,"(2017, 11, 5, 21, 27, 47)"
16,f423d6fe2f8964db634c7806e03b0f6567e992e994f06f...,Direito,ESTÁCIO,"(2013, 4, 3, 12, 37, 45)",Espírito Santo,Serra,Prática Simulada I (cível),"(2017, 11, 5, 20, 30, 2)",NaN,Email,Mensal,"(2017, 11, 5, 21, 27, 47)"
17,55ccbe518d2edbbd527eddca1431c7f7f3a4676bdbee38...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 0, 6)",Rio de Janeiro,Rio de Janeiro,Prática Jurídica I,"(2015, 9, 22, 14, 10, 46)",NaN,Email,Mensal,"(2017, 11, 15, 14, 36, 42)"
18,55ccbe518d2edbbd527eddca1431c7f7f3a4676bdbee38...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 0, 6)",Rio de Janeiro,Rio de Janeiro,Prática Jurídica Simulada,"(2015, 9, 22, 14, 10, 46)",NaN,Email,Mensal,"(2017, 11, 15, 14, 36, 42)"
19,55ccbe518d2edbbd527eddca1431c7f7f3a4676bdbee38...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 0, 6)",Rio de Janeiro,Rio de Janeiro,Prática Simulada I (cível),"(2015, 9, 22, 14, 10, 46)",NaN,Email,Mensal,"(2017, 11, 15, 14, 36, 42)"
20,55ccbe518d2edbbd527eddca1431c7f7f3a4676bdbee38...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 0, 6)",Rio de Janeiro,Rio de Janeiro,Prática Simulada I,"(2015, 9, 22, 14, 10, 46)",NaN,Email,Mensal,"(2017, 11, 15, 14, 36, 42)"
21,55ccbe518d2edbbd527eddca1431c7f7f3a4676bdbee38...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 0, 6)",Rio de Janeiro,Rio de Janeiro,Prática Simulada,"(2015, 9, 22, 14, 10, 46)",NaN,Email,Mensal,"(2017, 11, 15, 14, 36, 42)"
22,b1b0f63fe3e4820cb082531af7c8911cd380e5ec8fe822...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 9, 36)",Rio de Janeiro,Rio de Janeiro,Direito Processual Civil I,"(2016, 4, 5, 14, 17, 38)",NaN,Facebook,Mensal,"(2017, 11, 12, 22, 19, 54)"
23,b1b0f63fe3e4820cb082531af7c8911cd380e5ec8fe822...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 9, 36)",Rio de Janeiro,Rio de Janeiro,Direito Penal I,"(2016, 4, 5, 14, 17, 38)",NaN,Facebook,Mensal,"(2017, 11, 12, 22, 19, 54)"
24,b1b0f63fe3e4820cb082531af7c8911cd380e5ec8fe822...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 9, 36)",Rio de Janeiro,Rio de Janeiro,Direito Penal II,"(2016, 4, 5, 14, 17, 38)",NaN,Facebook,Mensal,"(2017, 11, 12, 22, 19, 54)"
25,b1b0f63fe3e4820cb082531af7c8911cd380e5ec8fe822...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 9, 36)",Rio de Janeiro,Rio de Janeiro,Direito Civil I,"(2016, 4, 5, 14, 17, 38)",NaN,Facebook,Mensal,"(2017, 11, 12, 22, 19, 54)"
26,b1b0f63fe3e4820cb082531af7c8911cd380e5ec8fe822...,Direito,ESTÁCIO,"(2013, 4, 3, 16, 9, 36)",Rio de Janeiro,Rio de Janeiro,Direito Penal,"(2016, 4, 5, 14, 17, 38)",NaN,Facebook,Mensal,"(2017, 11, 12, 22, 19, 54)"
27,ed46832f6b716fb2e2f6f11b43965f2e0a3f2f8f8994ce...,Direito,UNIVILLE,"(2013, 7, 11, 18, 6, 7)",Paraná,NaN,Direito do Trabalho I,"(2015, 9, 10, 21, 30, 41)",NaN,Facebook,Mensal,"(2017, 11, 22, 1, 3, 9)"
28,ed46832f6b716fb2e2f6f11b43965f2e0a3f2f8f8994ce...,Direito,UNIVILLE,"(2013, 7, 11, 18, 6, 7)",Paraná,NaN,Direito do Consumidor,"(2015, 9, 10, 21, 30, 41)",NaN,Facebook,Mensal,"(2017, 11, 22, 1, 3, 9)"
29,ed46832f6b716fb2e2f6f11b43965f2e0a3f2f8f8994ce...,Direito,UNIVILLE,"(2013, 7, 11, 18, 6, 7)",Paraná,NaN,Direito Processual Civil I,"(2015, 9, 10, 21, 30, 41)",NaN,Facebook,Mensal,"(2017, 11, 22, 1, 3, 9)"
...,...,...,...,...,...,...,...,...,...,...,...,...
5314,d23285a8b35a8f1010c7b63a8b122948a8807739cfc769...,Engenharia Civil,CEULP,"(2017, 11, 28, 2, 30, 51)",NaN,NaN,Tecnologia do Concreto,"(2017, 11, 28, 0, 38, 24)",Website,Facebook,Mensal,"(2017, 11, 28, 2, 47, 49)"
5315,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Didática,"(2018, 6, 5, 16, 5, 0)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5316,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,História da Educação,"(2018, 5, 14, 8, 36, 53)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5317,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Metodologia Científica,"(2018, 2, 26, 16, 55, 50)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5318,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Políticas Públicas na Educação Básica,"(2018, 5, 19, 16, 17, 57)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5319,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,"Ética, Politica e Sociedade","(2018, 5, 21, 14, 13, 49)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5320,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Psicologia e Processo de Aprendizagem,"(2017, 11, 28, 22, 23, 29)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5321,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Psicologia da Educação e da Aprendizagem,"(2017, 11, 28, 22, 33, 12)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5322,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Psicodinamica da Aprendizagem,"(2017, 11, 28, 22, 23, 29)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5323,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Portfólio Individual,"(2018, 5, 7, 15, 10, 33)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5324,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Licenciatura,"(2017, 11, 28, 22, 23, 29)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5325,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,"Ética, Política e Cidadania","(2018, 5, 16, 7, 57, 58)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5326,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Prova,"(2017, 11, 28, 22, 23, 29)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5327,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Políticas Públicas da Educação Básica,"(2018, 5, 20, 12, 11, 58)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5328,655a9c022a25c4cf218b0f5a455a1c27850ee01f65c725...,Pedagogia,UNOPAR,"(2017, 11, 28, 22, 18, 58)",São Paulo,Cubatao,Psicologia da Educação e da Aprensizagem,"(2017, 11, 28, 22, 23, 29)",Website,Google,Mensal,"(2017, 11, 30, 19, 14, 25)"
5329,88351600fb4fc9095827c54a09aafbef44c0ba6b1fea34...,Engenharia Civil,FACIG,"(2017, 11, 29, 14, 20, 57)",NaN,NaN,Resistência dos Materiais,"(2017, 11, 30, 20, 29, 35)",Webapp,Facebook,Mensal,"(2017, 11, 30, 22, 27, 18)"
5330,88351600fb4fc9095827c54a09aafbef44c0ba6b1fea34...,Engenharia Civil,FACIG,"(2017, 11, 29, 14, 20, 57)",NaN,NaN,Mecânica Geral,"(2017, 11, 30, 20, 29, 35)",Webapp,Facebook,Mensal,"(2017, 11, 30, 22, 27, 18)"
5331,88351600fb4fc9095827c54a09aafbef44c0ba6b1fea34...,Engenharia Civil,FACIG,"(2017, 11, 29, 14, 20, 57)",NaN,NaN,Mecânica das Estruturas,"(2017, 11, 30, 20, 29, 35)",Webapp,Facebook,Mensal,"(2017, 11, 30, 22, 27, 18)"
5332,88351600fb4fc9095827c54a09aafbef44c0ba6b1fea34...,Engenharia Civil,FACIG,"(2017, 11, 29, 14, 20, 57)",NaN,NaN,Concreto Armado I,"(2017, 11, 30, 20, 29, 35)",Webapp,Facebook,Mensal,"(2017, 11, 30, 22, 27, 18)"
5333,88351600fb4fc9095827c54a09aafbef44c0ba6b1fea34...,Engenharia Civil,FACIG,"(2017, 11, 29, 14, 20, 57)",NaN,NaN,Mecânica Vetorial,"(2017, 11, 30, 20, 29, 35)",Webapp,Facebook,Mensal,"(2017, 11, 30, 22, 27, 18)"
5334,346af5f521ef693edd6fe144a7a202b7f12a5ecb1c33a8...,Gestão Pública,ESTÁCIO,"(2017, 11, 30, 21, 13, 35)",Rio de Janeiro,Rio de Janeiro,Matemática Financeira,"(2017, 11, 30, 19, 15, 46)",Website,Facebook,Mensal,"(2017, 11, 30, 21, 37, 3)"
5335,346af5f521ef693edd6fe144a7a202b7f12a5ecb1c33a8...,Gestão Pública,ESTÁCIO,"(2017, 11, 30, 21, 13, 35)",Rio de Janeiro,Rio de Janeiro,Direito Administrativo,"(2017, 11, 30, 19, 15, 46)",Website,Facebook,Mensal,"(2017, 11, 30, 21, 37, 3)"
5336,346af5f521ef693edd6fe144a7a202b7f12a5ecb1c33a8...,Gestão Pública,ESTÁCIO,"(2017, 11, 30, 21, 13, 35)",Rio de Janeiro,Rio de Janeiro,Direito Administrativo I,"(2017, 11, 30, 19, 15, 46)",Website,Facebook,Mensal,"(2017, 11, 30, 21, 37, 3)"
5337,346af5f521ef693edd6fe144a7a202b7f12a5ecb1c33a8...,Gestão Pública,ESTÁCIO,"(2017, 11, 30, 21, 13, 35)",Rio de Janeiro,Rio de Janeiro,Administração,"(2017, 11, 30, 19, 15, 46)",Website,Facebook,Mensal,"(2017, 11, 30, 21, 37, 3)"
5338,346af5f521ef693edd6fe144a7a202b7f12a5ecb1c33a8...,Gestão Pública,ESTÁCIO,"(2017, 11, 30, 21, 13, 35)",Rio de Janeiro,Rio de Janeiro,Introdução à Administração,"(2017, 11, 30, 19, 15, 46)",Website,Facebook,Mensal,"(2017, 11, 30, 21, 37, 3)"
5339,0cde7b5c3228dec794d2dfd3443d12af2e3d931010d053...,Arquitetura,UNIP,"(2017, 11, 30, 21, 45, 26)",São Paulo,São Paulo,Thau,"(2017, 11, 30, 21, 49, 38)",Website,Google,Mensal,"(2017, 11, 30, 23, 56, 24)"
5340,0cde7b5c3228dec794d2dfd3443d12af2e3d931010d053...,Arquitetura,UNIP,"(2017, 11, 30, 21, 45, 26)",São Paulo,São Paulo,Resmat,"(2017, 11, 30, 21, 49, 38)",Website,Google,Mensal,"(2017, 11, 30, 23, 56, 24)"
5341,0cde7b5c3228dec794d2dfd3443d12af2e3d931010d053...,Arquitetura,UNIP,"(2017, 11, 30, 21, 45, 26)",São Paulo,São Paulo,Conforto,"(2017, 11, 30, 21, 49, 38)",Website,Google,Mensal,"(2017, 11, 30, 23, 56, 24)"
5342,0cde7b5c3228dec794d2dfd3443d12af2e3d931010d053...,Arquitetura,UNIP,"(2017, 11, 30, 21, 45, 26)",São Paulo,São Paulo,Pup,"(2017, 11, 30, 21, 49, 38)",Website,Google,Mensal,"(2017, 11, 30, 23, 56, 24)"
5343,0cde7b5c3228dec794d2dfd3443d12af2e3d931010d053...,Arquitetura,UNIP,"(2017, 11, 30, 21, 45, 26)",São Paulo,São Paulo,Pa,"(2017, 11, 30, 21, 49, 38)",Website,Google,Mensal,"(2017, 11, 30, 23, 56, 24)"